<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

 {{> styles}}
  <title>Sistema de Recrutamento</title>
</head>

<body background="imagem/carga.gif">
 <div class="container">
        <section>
            <h1>Cadastro de Voluntários</h1>
            <hr><br><br>
        </section>
          {{{body}}}
    </div>
</body>
</html>